<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopData.shopName%></h1>
    <form action="/users/registered" method="POST">
      <p>First name:</p>
      <input type="text" name="first" required>
    
      <p>Last name:</p>
      <input type="text" name="last" required>
    
      <p>Email:</p>
      <input type="email" name="email" required>
    
      <p>Username:</p>
      <input type="text" name="username" required>
    
      <p>Password:</p>
      <input type="password" name="password" required>
    
      <input type="submit" value="Register">
    </form>
  </body>
</html>